body{
    font-family: "Roboto", sans-serif;
    color: #212121;
}

.container{
    width: 1200px;
    margin: auto;
}

.section {
    padding: 94px 0;
    margin: auto;
}

.section-soluciones{
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    background: #2F303A;
    margin: auto;
}

ul{
    list-style: none;
}

.web-logo{
    color: #2196f3;
    text-align: right;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
}

.barra-list{
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 24px 0;
    flex-shrink: 0;
    background: #fff;
    text-decoration: none;
    justify-content: space-between;
}

.link1{
    color: #2f303a;
    padding-right: 15px;
    text-decoration: none;
}

.link1:hover {
    color: #2196f3;
}


.link2{
    color: #757575;
    padding-right: 15px;
    text-decoration: none;
}

.link2:hover:hover {
    color: #2196f3;
}

.titulo{
    background-color: #2f303a;
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1-titulo{
    font-weight: 696;
    font-size: 44px;
    font-weight: 60px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.solicite-button{
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.h2-texto {
    display: flex;
}

.h2-title {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.ph2-list {
    color: #757575;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
    display: flex;
    width: 270px;
    flex-direction: column;
    flex-shrink: 0;
}

.quienes{
    display: flex;
    justify-content: space-evenly;
    color: #f5f4fa;
}

.h2-subtitle{
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.section-team{
    flex-shrink: 0;
    background: #F5F4FA;
    display: flex;
    display: flex;
    justify-content: space-between;
    background-color: #f5f4fa;
    margin: auto;
}


.team{
    display: flex;
    justify-content: space-between;
    background-color: #f5f4fa;
}

.cuadricula{
    width: 270px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.text-name{
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
}

.text-profession{
    color: #757575;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.48px;
}

.footer-font{
    padding: 100px;
    margin: auto;
    flex-shrink: 0;
    background: #2F303A;
}

.web-footer{
    color: #2196f3;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
    padding-top: 60px;
    text-decoration: none;
}

.ubicacion{
    width: 231px;
    height: 21px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration: none;
}

.mail-phono{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
    display: flex;
    width: 231px;
    height: 21px;
    flex-shrink: 0;
    padding-top: 30px;
    color: #757575;
    text-decoration: none;
}





____________________________________________________________________________________







.div-buttons
    .link {
    background-color: #f5f4fa;
    color: #212121;
}

.div-buttons .link:hover,
.div-buttons .link:focus {
    background-color: #2196f3;
    color: #ffffff;
}

.div-buttons {
    display: flex;
    justify-content: center;
}

.link{
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    border: 0;
    border-radius: 4px;
    padding: 6px 24px;
    margin-right: 8px;
}

.container-parrilla {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 0;
    padding: 30px;
}

.shadowflex {
    border: 1px solid #eee;
    background: #fff;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.h3-titulos {
    width: 322px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
    padding-left: 24px;
}

.p-subp {
    padding-left: 24px;
    color: #757575;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.48px;
}