body {
    font-family: "Roboto", sans-serif;
    color: #212121;
    font-family: "raleway", sans-serif;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.section{
    padding: 94px 0;
    margin: auto;
}

.uppercase{
    text-transform: uppercase;
}

.barras {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

.title{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.contac{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color:black;
    text-decoration: none;
}

.azul:hover{  
    color:#2196F3;
}

.link1{
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.link2{
    position: absolute;
    width: 65px;
    height: 16px;
    left: 552px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.link3{
    position: absolute;
    width: 67px;
    height: 16px;
    left: 667px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.info1{
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.info2{
    position: absolute;
    width: 118px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.font{
    position: absolute;
    width: 1600px;
    height: 600px;
    left: -4px;
    top: 80px;
    background: #2F303A;
    text-align: center;
}

h1{
    position: absolute;
    width: 696px;
    height: 120px;
    left: 448px;
    top: 280px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF; 
}

.solicite button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;  
    position: absolute;
    width: 261px;
    height: 50px;
    left: 666px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color:#FFFFFF;
}

.sub1{
    position: absolute;
    width: 270px;
    height: 16px;
    left: 215px;
    top: 775px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.cont1{
    position: absolute;
    width: 270px;
    height: 75px;
    left: 215px;
    top: 801px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.sub2{
    position: absolute;
    width: 270px;
    height: 16px;
    left: 515px;
    top: 775px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.cont2{
    position: absolute;
    width: 270px;
    height: 96px;
    left: 515px;
    top: 801px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color:#757575
}

.sub3{
    position: absolute;
    width: 270px;
    height: 16px;
    left: 815px;
    top: 775px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.cont3{
    position: absolute;
    width: 270px;
    height: 75px;
    left: 815px;
    top: 801px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.sub4{
    position: absolute;
    width: 270px;
    height: 16px;
    left: 1115px;
    top: 775px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.cont4{
    position: absolute;
    width: 270px;
    height: 75px;
    left: 1115px;
    top: 801px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

h2{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
}

.tsub1{
    position: absolute;
    width: 371.15px;
    height: 46.24px;
    left: 619.43px;
    top: 991px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.img1{
    position: absolute;
    width: 373.16px;
    height: 323.7px;
    left: 215px;
    top: 1092.3px;
    background: url(.jpg);
    mix-blend-mode: normal;
}

.img2{
    position: absolute;
    width: 373.16px;
    height: 323.7px;
    left: 618.42px;
    top: 1092.3px;
    background: url(.jpg);
}

.img3{
    position: absolute;
    width: 373.16px;
    height: 323.7px;
    left: 1015px;
    top: 1092px;
    background: url(.jpg);
}

.tsub2{
    position: absolute;
    width: 263px;
    height: 42px;
    left: 669px;
    top: 1604px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.contcarreras p {
    display: flex;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color:#757575
}

.f1{
    position: absolute;
    width: 270px;
    height: 260px;
    left: 208px;
    top: 1696px;
    background: url(.jpg);
    border-radius: 0px;
}

.n1{
    position: absolute;
    width: 97px;
    height: 19px;
    left: 295px;
    top: 1986px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.c1{
    position: absolute;
    width: 182px;
    height: 19px;
    left: 253px;
    top: 2015px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.f2{
    position: absolute;
    width: 270px;
    height: 260px;
    left: 515px;
    top: 1696px;
    background: url(.jpg);
    border-radius: 0px;
}

.n2{
    position: absolute;
    width: 109px;
    height: 19px;
    left: 596px;
    top: 1986px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.c2{
    position: absolute;
    width: 183px;
    height: 19px;
    left: 559px;
    top: 2015px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.f3{
    position: absolute;
    width: 270px;
    height: 260px;
    left: 822px;
    top: 1696px;
    background: url(.jpg);
    border-radius: 0px;
}

.n3{
    position: absolute;
    width: 103px;
    height: 19px;
    left: 906px;
    top: 1986px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.c3{
    position: absolute;
    width: 76px;
    height: 19px;
    left: 919px;
    top: 2015px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.f4{
    position: absolute;
    width: 270px;
    height: 260px;
    left: 1115px;
    top: 1696px;
    background: url(.jpg);
    border-radius: 0px;
}

.n4{
    position: absolute;
    width: 118px;
    height: 19px;
    left: 1191px;
    top: 1986px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.c4{
    position: absolute;
    width: 97px;
    height: 19px;
    left: 1202px;
    top: 2015px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.footer-contacts-container {
    position: absolute;
    width: 1600px;
    height: 150px;
    left: 0px;
    top: 2158px;
    background-color: #2f303a;
}

.letter li a {
    color: #FFFFFF;
}

.dir{
    position:absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 10px;
    text-align: right;
    letter-spacing: 0.01em;
    color: #2196F3;
    text-decoration: none;
}

.mail{
    display: flex;
    width: 231px;
    height: 21px;
    flex-direction: column;
    flex-shrink: 0;
}

.tel{
    display: flex;
    width: 231px;
    height: 21px;
    flex-direction: column;
    flex-shrink: 0;
}

__________________________________________________________________________


.link1{
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.botones{
    display: flex;
    justify-content: center;
}

button:hover{
    color:#2196F3;
    background-color:white;
}

.botones .link {
    background-color: #f5f4fa;
    color: #212121;
}

.botones .link:hover,
.botones .link:focus {
    background-color: #2196f3;
    color: #ffffff;
}

.link {
    font-family: "roboto";
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    border: 0;
    border-radius: 4px;
    padding: 6px 24px;
    margin-right: 8px;
}

.portafolio{
    display: flex;
    flex-wrap: wrap;
    border: 5px;
    justify-content: space-between;
}

.shadowflex{
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.subtitle{
    display: flex;
    width: 322px;
    flex-direction: column;
    flex-shrink: 0;
    color: #212121;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1px;
    padding: 24px;
}

.link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color:black;
    text-decoration: none;
}

h3{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
}


h5{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
    text-align: left;
    color: #212121;
}

p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #757575;
    letter-spacing: 0.48px;
}

ul {
    list-style:none;
}

.contenido p{ 
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
}